.header {
  padding: 30px;

  background-color: rgb(229, 250, 247);
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #596b74;
  border-radius: 5px;
  width: 300px;
}

.button {
  padding: 10px;
  border: 1px solid #596b74;
  border-radius: 5px;
  background-color: #596b74;
  color: white;
  transition: transform cubic-bezier(0.39, 0.575, 0.565, 1);
}

.button:hover {
  transform: scale(1.05);
}
